html, body 
{
    margin: 0 !important;
    padding: 0 !important;
}
body
{   
    margin:0;    
    padding: 0;
}

#header 
{
	text-align: center;
	font-size: 50px;
	line-height: 70px;
	color: #ffffff;
	background-color: #000000;
	width:100%;
}

#footer
{
	text-align: center;
	line-height: 24px;
	font-size: 17px;
	background: #000000;
	background: rgba(0,0,0,0.7);
	color:#ffffff;
	position: relative;
	position: fixed;
	width: 100%;
	bottom: 0%;
}